body {
    box-sizing: border-box;
    width: 1000px;
    margin: 20px auto;
}

main {
    border-top: 3px solid #06038D;
    border-bottom: 3px solid #06038D;
}

.logo {
    padding: 5px;
    user-select: none;
}

.logo:hover {
    cursor: pointer;
    background: #06038D;
    border-radius: 5px;
}

.logo:active {
    background: goldenrod;
}

.logo-img {
    width: 60px;
    margin-right: 5px;
    border: 2px double #06038D;
    border-radius: 50%;
}

.logo-txt {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.logo-texts {
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
}

.saffron {
    color: #FF671F;
}

.green {
    color: #046A38;
}

.bottom-border {
    bottom: 0;
    height: 2px;
    width: 190px;
    position: absolute;
    border-bottom: 3px solid goldenrod;
    margin-right: 10px;
}

.right-border {
    right: 0;
    height: 80px;
    width: 2px;
    position: absolute;
    border-right: 3px solid goldenrod;
}

.divs--row {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px 5px;
}

.divs--space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--item {
    margin-right: 20px;
    text-decoration: none;
    font-size: large;
    color: #06038D;
}

.nav--item:hover {
    border-bottom: 2px solid goldenrod;
}

.nav--item:active {
    border-bottom: 3px solid #06038D;
    color: goldenrod;
}

.content {
    margin: 40px 10px;
    height: 400px;
}

.content-heading {
    flex: 3;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 3px;
}

.content-description {
    flex: 5;
    font-family: serif;
    font-size: 1rem;
    margin: 0px 50px;
}

.slider {
    display: flex;
    align-items: center;
    user-select: none;
}

.slider:hover {
    cursor: pointer;
}

input {
    display: block;
}

label + textarea {
    display: block;
}

.social-icons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
}

.social-icon {
    font-size: 40px;
}

.social-icon:active {
    color: goldenrod !important;
}

#twitter-color {
    color: #1DA1F2;
}

#linkedin-color {
    color: #0A66C2;
}

#dev-color {
    color: #000;
}

#github-color {
    color: #333;
}

#facebook-color {
    color: #3b5998;
}

#youtube-color {
    color: #FF0000;
}

footer {
    padding: 0px 75px;
}

.contact-form fieldset {
    background: whitesmoke;
    border-radius: 10px;
}

.contact-form input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.contact-form textarea {
    border: none;
    resize: none;
}

#project-title {
    font-size: xx-large;
}

#project-title-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#project-title-image:hover {
    cursor: pointer;
}

#project-title-description {
    font-size: medium;
}

#project-demo-link {
    position: absolute;
    bottom: 10px;
    margin-left: 140px;
}

#project-gh-link {
    position: absolute;
    bottom: 10px;
}

.btn {
    text-decoration: none;
    border: 4px solid #06038D;
    padding: 5px 10px;
    color: #06038D;
}

.btn:hover {
    background: #06038D;
    color: white;
    border: 4px solid white;
}
