body {
    box-sizing: border-box;
    width: 1000px;
    margin: 20px auto;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

main {
    border-top: 3px solid #06038D;
    border-bottom: 3px solid #06038D;
}

.logo {
    padding: 5px;
    user-select: none;
}

.logo:hover {
    cursor: pointer;
}

.logo-img {
    width: 60px;
    margin-right: 5px;
    border: 2px double #06038D;
    border-radius: 50%;
}

.logo-txt {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.logo-texts {
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
}

.saffron {
    color: #FF671F;
}

.green {
    color: #046A38;
}

.bottom-border {
    bottom: 0;
    height: 2px;
    width: 190px;
    position: absolute;
    border-bottom: 3px solid goldenrod;
    margin-right: 10px;
}

.right-border {
    right: 0;
    height: 80px;
    width: 2px;
    position: absolute;
    border-right: 3px solid goldenrod;
}

.divs--row {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px 5px;
}

.divs--space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--item {
    margin-right: 20px;
    text-decoration: none;
    font-size: large;
    color: #06038D;
    font-family: 'Permanent Marker', cursive;
}

.nav--item:hover {
    border-bottom: 2px solid goldenrod;
}

.nav--item:active {
    border-bottom: 3px solid #06038D;
    color: goldenrod;
}

.content {
    margin: 40px 10px;
    min-height: 300px;
    max-height: 400px;
}

.content-heading {
    flex: 3;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 3px;
    color: #06038D;
}

.content-description {
    flex: 5;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.2rem;
    margin: 0px 50px;
    font-style: italic;
}

#about-me > .content-description {
    text-indent: 1rem;
}

.slider {
    display: flex;
    align-items: center;
    user-select: none;
}

.slider:hover {
    cursor: pointer;
}

input {
    display: block;
}

label + textarea {
    display: block;
}

#social-icons-title {
    font-family: 'Permanent Marker', cursive;
}

.social-icons {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
}

.social-icon {
    font-size: 40px;
}

.social-icon:active {
    color: goldenrod !important;
}

#twitter-color {
    color: #1DA1F2;
}

#linkedin-color {
    color: #0A66C2;
}

#dev-color {
    color: #000;
}

#github-color {
    color: #333;
}

#facebook-color {
    color: #3b5998;
}

#youtube-color {
    color: #FF0000;
}

footer {
    padding: 0px 75px;
    color: #06038D;
}

#contactForm {
    font-family: 'Permanent Marker', cursive;
}

#contactForm input {
    font-family: 'Sofia Sans', sans-serif;
    font-style: italic;
    background: transparent;
    color: #046A38;
}

.contact-form fieldset {
    background: whitesmoke;
    border-radius: 10px;
}

.contact-form input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.contact-form textarea {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    resize: none;
    background: transparent;
}

#projects-title {
    font-size: 2rem;
    text-decoration: underline;
    color: goldenrod;
}

#project-title {
    font-size: xx-large;
    font-family: 'Permanent Marker', cursive;
    color: #06038D;
}

#project-title-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition-property: width, height, margin-right;
    transition-duration: 1s;
    transition-delay: 0.5s;
}

#project-title-image:hover {
    width: 110%;
    height: 110%;
}

#project-title-image:hover {
    cursor: pointer;
}

#project-description {
    font-size: large;
}

#project-demo-link {
    position: absolute;
    bottom: 10px;
    margin-left: 160px;
}

#project-gh-link {
    position: absolute;
    bottom: 10px;
}

.btn {
    text-decoration: none;
    border: 4px solid #06038D;
    padding: 5px 10px;
    color: #06038D;
}

.btn:hover {
    background: #06038D;
    color: white;
    border: 4px solid white;
}

.education--item {
    border-bottom: 2px solid #06038D;
    padding-left: 10px;
    margin: 2rem auto;
}

.institution-name {
    font-size: 2rem;
    font-weight: 700;
    color: brown;
}

.degree-level {
    font-size: 1rem;
    color: #06038D;
}

.duration {
    font-style: italic;
    color: #046A38;
}

.grade {
    font-size: 1.5rem;
    color: goldenrod;
}

.work--item {
    font-size: 1rem;
    border-bottom: 2px solid #06038D;
}

.designation {
    font-size: 2rem;
    color: #FF671F;
}

.organization {
    font-weight: 700;
    text-decoration: underline;
    color: brown;
    font-size: 1.1em;
}

.work-period, .work-location {
    color: #046A38;
}

.work-description {
    font-size: 1.1rem;
    margin-top: 10px;
    color: #0A66C2;
}
